{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div id="wrapper">
   <div class="navbar-custom">
      {% include 'crm/navbar.html' %}
      <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
          <li>
              <button class="button-menu-mobile disable-btn waves-effect">
                  <i class="fe-menu"></i>
              </button>
          </li>
   
          <li>
              <h4 class="page-title-main">Collection Master/CAM Received/Edit</h4>
          </li>
   
      </ul>
   </div>
   {% include 'crm/sidebar.html' %}
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">
            <div class="row card p-3">
               <form action="" method="POST">
                  {% csrf_token %} 
                  <div class="card row">
                     <h3 style="text-align: center;">Collection CAM Received</h3>

                     <hr/>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="id_first_name">Society : </label> 
                              {% render_field CollectionCAMReceivedForm.society class="form-control" %}       
     
                           </div>
                        </div>
                        
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="id_first_name">Property Type :  </label> 
                           {% render_field CollectionCAMReceivedForm.property_type class="form-control" %}       
                        </div>
                        <div class="form-group">
                           <label for="id_contact">Floor : </label>
                           {% render_field CollectionCAMReceivedForm.floor class="form-control" %}     
                        </div>
                     </div>
                     
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="id_contact">Block : </label>
                           {% render_field CollectionCAMReceivedForm.block class="form-control" %}       
    
                        </div>
                        <div class="form-group">
                           <label for="id_first_name">Date : </label>
                           {% render_field CollectionCAMReceivedForm.date class="form-control" type="date" %}
                                       
                        </div>
                     </div>
                     <div class="col-md-6">  
                        
                     </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="id_first_name">Client Name : </label>
                        {% render_field CollectionCAMReceivedForm.client_name class="form-control" value="auto genrated" disabled=True %} 
                                    
                     </div>
                  </div>
                  
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="id_first_name">CAM Demand : </label>
                        {% render_field CollectionCAMReceivedForm.CAM_demand class="form-control" value="auto genrated" disabled=True %} 
                                    
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="id_first_name">CAM Received : </label>
                        {% render_field CollectionCAMReceivedForm.CAM_received class="form-control" %}
                                    
                     </div>
                  </div>
                  
               </div>
               <div class="form-group mb-3">
                  <div class="custom-control custom-checkbox">
                      {{CollectionCAMReceivedForm.errors}}
                     {% for message in messages %}
                        {{message}}
                     {% endfor %} 
                  </div>
               </div>
                  <div class="form-group mb-0 text-center">
                     <button class="btn btn-golden " type="submit"> Update </button>
                     
                  </div>
               
              </form>
            </div>            
         </div>
      </div>
   </div>
</div>


{% endblock content %}