{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="wrapper">
<div class="navbar-custom">
      {% include 'crm/navbar.html' %}
      <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
          <li>
              <button class="button-menu-mobile disable-btn waves-effect">
                  <i class="fe-menu"></i>
              </button>
          </li>
   
          <li>
              <h4 class="page-title-main">Discount Master/Add</h4>
          </li>
   
      </ul>
   </div>   {% include 'crm/sidebar.html' %}
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">
            <div class="row card p-3">
                 
                    <h3 style="text-align: center;">Add Discount</h3>
                    <hr />
                    <div class="row" >
                        <div class="col-md-6">
                        <input type="radio" name="type_rd" value="Society"> Society 
                        </div>
                        <div class="col-md-6">
                        <input type="radio" name="type_rd" value="UserSpecific" > User Specific 
                        </div>
                    </div>

<!-- Radio Button Ends Here -->
                    
<!-- user specific ends here -->
            </div>
          
                    
         </div>            
      </div>
   </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
    $("input[type='radio']").change(function(){
    if($(this).val()=="Society")
    {
       $(location).attr("href" , "{% url 'CMS_app:discount_society_add' %}");
    }
    else if($(this).val() == "UserSpecific")
    {
      $(location).attr("href" , "{% url 'CMS_app:discount_user_add' %}");
    }
    
    });
    });
</script>


{% endblock content %}
