{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div id="wrapper">
   <div class="navbar-custom">
      {% include 'crm/navbar.html' %}
      <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
          <li>
              <button class="button-menu-mobile disable-btn waves-effect">
                  <i class="fe-menu"></i>
              </button>
          </li>
   
          <li>
              <h4 class="page-title-main">Discount Master/Add/User Specific</h4>
          </li>
   
      </ul>
   </div>  
   {% include 'crm/sidebar.html' %}
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">
            <div class="row card p-3">
                <form action="" method="POST">
                {% csrf_token %} 
                 
                    <h3 style="text-align: center;">Add Discount User Specific</h3>
                    <hr />
                    <div class="row" >
                     <div class="col-md-6">
                     <input type="radio" name="type_rd" value="Society"> Society
                     </div>
                     <div class="col-md-6">
                     <input type="radio" name="type_rd" value="UserSpecific" checked> User Specific
                     </div>
                    </div>

<!-- Radio Button Ends Here -->

    <div class="row">
        <div class="col-md-6">
           <div class="form-group">
              <label for="id_first_name">Society : </label> 
              {% render_field DiscountUserForm.society class="form-control" %}
    
           </div>
        </div>
        
        <div class="col-md-6">  
           <div class="form-group">
              <label for="id_contact">Block : </label>
              {% render_field DiscountUserForm.block class="form-control" %}
           
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <div class="form-group">
           <label for="id_first_name">Floor : </label> 
           {% render_field DiscountUserForm.floor class="form-control" %}
           
        </div>
        </div>
     
        <div class="col-md-6">  
        <div class="form-group">
           <label for="id_contact">Property Type : </label>
           {% render_field DiscountUserForm.property_type class="form-control" %}
           
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
           <div class="form-group">
              <label for="id_first_name">Number: </label> 
              {% render_field DiscountUserForm.property_number class="form-control" %}
           
           </div>
        </div>
        
        <div class="col-md-6">  
           <div class="form-group">
              <label for="id_contact">CAM : </label>
              {% render_field DiscountUserForm.cam class="form-control" value="CAM" disabled=True %}
    
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <div class="form-group">
           <label for="id_first_name">Discount in % : </label> 
           {% render_field DiscountUserForm.dis_per class="form-control" %}
           
        </div>
        </div>
     
        <div class="col-md-6">  
        <div class="form-group">
           <label for="id_contact">After Discount CAM : </label>
           {% render_field DiscountUserForm.dis_cam class="form-control" %}
    
        </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-6">
        <div class="form-group">
           <label for="id_first_name">Valid Period : </label> 
           {% render_field DiscountUserForm.valid_period class="form-control" %}
           
        </div>
        </div>
    </div>
    <div class="form-group mb-3">
      <div class="custom-control custom-checkbox">
          {{DiscountUserForm.errors}}
         {% for message in messages %}
            {{message}}
         {% endfor %} 
      </div>
   </div> 
        <div class="form-group mt-0 text-center">
            <button class="btn btn-golden btn-rounded type="submit"> ADD </button>
            
        </div>
   
      </form>
   </div>            
</div>
</div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
    $("input[type='radio']").change(function(){
    if($(this).val()=="Society")
    {
       $(location).attr("href" , "{% url 'CMS_app:discount_society_add' %}");
    }
    else if($(this).val() == "UserSpecific")
    {
      $(location).attr("href" , "{% url 'CMS_app:discount_user_add' %}");
    }
    
    });
    });
</script>

{% endblock content %}
