{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div id="wrapper">
<div class="navbar-custom">
      {% include 'crm/navbar.html' %}
      <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
          <li>
              <button class="button-menu-mobile disable-btn waves-effect">
                  <i class="fe-menu"></i>
              </button>
          </li>
   
          <li>
              <h4 class="page-title-main">Society Category Master/Villas/Edit</h4>
          </li>
   
      </ul>
   </div>   {% include 'crm/sidebar.html' %}
   <div class="content-page">
      <div class="content">
         <div class="container">
            <div class="card-box">
               <form action="" method="post">
                  {% csrf_token %}                             
                  <h4>Society Details</h4>                 
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group">
                           <label for="id_society">Society</label>                     
                           {% render_field VillaForm.society class="form-control" %}
                        </div>
                     </div>                                                                    
                  </div>  
                  <h4>Villa Details</h4>
                  <div class="row justify-content-center">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="id_villa_number">Villa Number</label>                     
                           {% render_field VillaForm.villa_number class="form-control" placeholder="Villa Number" %}
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="id_Area">Area</label>                     
                           {% render_field VillaForm.area class="form-control" placeholder="Area of Villa" %}
                        </div>
                     </div>                                                                     
                  </div>   
                  <div class="row justify-content-center">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="id_length">Length</label>                     
                           {% render_field VillaForm.length class="form-control" placeholder="Length of Villa" %}
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="id_width">Width</label>                     
                           {% render_field VillaForm.width class="form-control" placeholder="Width of Villa" %}
                        </div>
                     </div>                                                                    
                  </div> 
                  <div class="row justify-content-center">
                     <div class="col-md-6">
                        <h4>Ownership Details</h4>
                        <div class="form-group">                           
                           {% render_field VillaForm.ownership %}
                        </div>
                     </div>
                     <div class="col-md-6">
                        <h4>Occupancy Details</h4>
                        <div class="form-group">                           
                           {% render_field VillaForm.occupancy %}
                        </div>
                     </div>
                  </div>      
                  <div class="form-group mb-3">
                     <div class="custom-control">
                         {{VillaForm.errors}}
                        {% for message in messages %}
                           {{message}}
                        {% endfor %} 
                     </div>
                  </div>
                  <div class="form-group mb-0 text-center">
                     <button class="btn btn-golden btn-rounded" type="submit"> Update Villa </button>
                     
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>          
</div>
{% endblock content %}